[submodule "cdi"]
	path = 01-cdi-seminar
	url = https://github.com/qa/a4m36jee-2014-cdi-seminar.git
[submodule "web"]
	path = 02-web-seminar
	url = https://github.com/qa/a4m36jee-2014-web-seminar.git
[submodule "infinispan"]
	path = 03-infinispan-seminar
	url = https://github.com/qa/a4m36jee-2014-infinispan-seminar.git
[submodule "clustering"]
	path = 04-clustering-seminar
	url = https://github.com/qa/a4m36jee-2014-clustering-seminar.git
[submodule "security"]
	path = 05-security-seminar
	url = https://github.com/qa/a4m36jee-2014-security-seminar.git
